/* Left Page */
.top-header {
    position: absolute;
    width: 923px;
    height: 84px;
    left: 0px;
    top: 0px;

    background: #7025FB;
}

.knight-cup-logo {
    position: absolute;
    left: 6.5%;
    right: 63.62%;
    top: 35.71%;
    bottom: 36.49%;
}

.knight-cup-icon {
    position: absolute;
    left: 0%;
    right: 94.68%;
    top: 1.75%;
    bottom: 19.74%;
}

.knight-cup-text {
    position: absolute;
    width: 252.82px;
    height: 23.35px;
    left: 22.93px;
    top: 0px;
}

/* Backgrounds */
.background {
    position: absolute;
    width: 923px;
    height: 996px;
    left: 0px;
    top: 84px;
}

.background-red {
    position: absolute;
    width: 997px;
    height: 1080px;
    left: 923px;
    top: 0px;

    background: #FD5334;
}

.background-landing {
    background: url(../assets/images/landing-page-photo.png);
}

.background-registration-personal {
    background: url(../assets/images/registration-personal-page-photo.png);
}

.background-registration-experience {
    background: url(../assets/images/registration-experience-page-photo.png);
}

/* Headers */
.landing-header-1 {
    position: absolute;
    width: 496px;
    height: 109px;
    left: 1008px;
    top: 265px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 109px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.landing-header-2 {
    position: absolute;
    width: 570px;
    height: 109px;
    left: 1008px;
    top: 390px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 109px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.landing-header-small {
    position: absolute;
    width: 136px;
    height: 27px;
    left: 1530px;
    top: 306px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;

    color: #212529;
}

.registration-header {
    position: absolute;
    height: 24px;
    left: 971px;
    top: 30px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;

    text-transform: capitalize;
    color: #212529;
}

.registration-personal-page-text {
    position: absolute;
    width: 423px;
    height: 83px;
    left: 132px;
    top: 335px;
    
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 800;
    font-size: 26px;
    line-height: 35px;
    text-transform: uppercase;
    
    color: #212529;
}

.registration-personal-page-text-author {
    position: absolute;
    width: 222px;
    height: 33px;
    left: 132px;
    top: 442px;
    
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #E5E6E8;
}

.registration-experience-page-text {
    position: absolute;
    width: 615px;
    height: 83px;
    left: 117px;
    top: 281px;
    
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 800;
    font-size: 26px;
    line-height: 35px;
    text-transform: uppercase;
    
    color: #212529;
}

.registration-experience-page-text-author {
    position: absolute;
    width: 266px;
    height: 33px;
    left: 466px;
    top: 396px;
    
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #093F68;
}

.line {
    position: absolute;
    width: 998px;
    height: 0;
    left: 923px;
    top: 84px;
    margin: -1px;
    border-top: 1px solid rgba(185, 180, 196, 0.3);
}

/* Buttons */
.btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 24px;
    gap: 10px;
    border: none;
    /* background: none; */
    background: #212529;
    border-radius: 8px;
}


.btn-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    flex: none;
    order: 0;

}

.btn-text {
    height: 27px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.btn-arrow {
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.get-started-btn {
    position: absolute;
    left: 1008px;
    top: 601px;
    width: 143px;

    background: #212529;
    color: #FFFFFF;
    border-radius: 8px;
}

.next-btn {
    position: absolute;
    left: 1618px;
    top: 873px;

    background: #212529;
    border-radius: 8px;
    color: #FFFFFF;
}

.get-started-btn:hover, .next-btn:hover {
    border: 4px solid rgba(194, 165, 249, 0.8);
    margin-left: -4px;
    margin-top: -4px;
    border-radius: 8px;
    cursor: pointer;
}

.back-btn {
    box-sizing: border-box;

    position: absolute;
    left: 971px;
    top: 873px;

    border: 1px solid #212529;
    border-radius: 8px;
    background-color: white;
    color: #212529;
}

.back-btn:hover {
    background: rgba(185, 180, 196, 0.3);
    border: 1px solid rgba(194, 165, 249, 0.8);
}

/* Steps */
.steps {
    position: absolute;
    width: 366px;
    height: 65px;
    left: 971px;
    top: 144px;    
}

.step-numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 262px;
    height: 40px;
    left: 59px;
    top: 0px;

}

.step {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E5E6E8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    flex-grow: 0;
}

.step-active {
    background: #E9FAF1;
}

.step-disabled {
    background: #F5F5F5;
}

.step-1 {
    order: 0;
}

.step-2 {
    order: 2;
}

.step-content {
    /* position: absolute; */
    /* width: 100%; */
    height: 25px;
    left: 14px;
    top: 8px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    margin: 0 auto;
    color: #212529;
}

.step-content-disabled {
    color: #95939A;
}

.step-line {
    width: 174px;
    height: 0px;
    border: 1px solid rgba(185, 180, 196, 0.3);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.step-text {
    position: absolute;
    left: 0px;
    top: 44px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.step-1-text {
    left: 0px;
    top: 44px;
}

.step-2-text {
    left: 235px;
    top: 44px;
}

/* Form  */
.form-header {
    position: absolute;
    width: 328px;
    height: 48px;
    left: 971px;
    top: 324px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */
    
    
    color: #000000;    
}

.form-subheader {
    position: absolute;
    width: 205px;
    height: 21px;
    left: 971px;
    top: 375px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    /* identical to box height, or 21px */
    
    text-transform: capitalize;
    
    color: #95939A;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 775px;
    height: 304px;
    left: 971px;
    top: 481px;
}

/* Text Input */
.text-input {
    display: flex;
    align-items: flex-start;

    width: 743px;
    height: 30px;
    padding: 8px 16px;

    background: rgba(255, 255, 255, 1e-06);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    color: #212529;
    border: 0;

    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}

.text-input:hover {
    background: #F8F9FA;
}

.text-input:active {
    background: #E9ECEF;
}

.text-input.invalid-input {
    background: #FFEFEF;
    color: #DC3545;
}

.text-input.invalid-input::placeholder {
    background: #FFEFEF;
    color: #DC3545;
}

.text-input:focus {
    outline: none;
}

.text-input {
    border: 0
}

.personal-info-form {
    gap: 40px;
}

.experience-form {
    gap: 88px;  
}



/* Select */
.select-row {
    display: flex;
}

.select-menu.character {
    margin-left: 23px;
}

.select-menu{
    position: relative;
    z-index: 1;
}
.select-menu .select-btn{
    width: 312px;
    height: 30px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
    border-radius: 4px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #212529;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    padding: 8px 64px 8px 16px;
}

.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}

.select-menu .arrow-icon {
    position: absolute;
    right: 20px;
    width: 14px;
    height: 8px;
    top: 19px;
    bottom: 19px;
    background: url(../assets/icons/select-arrow-down.svg);
}

.select-menu .arrow-icon.up {
    background: url(../assets/icons/select-arrow-up.svg);
}

.select-menu:hover {
    cursor: pointer;
} 

.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}

.select-menu .options-wrapper {
    position: relative;
}

.select-menu .options{
    box-sizing: border-box;

    position: absolute;
    width: 392px;

    left: 0px;
    top: 0px;

    background: #FFFFFF;
    border: 1px solid rgba(185, 180, 196, 0.3);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    display: none;

    list-style-type: none;
    padding-inline-start: 0;
    padding: 20px 0;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

    color: #000000;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-left: 20px;
}

.options .option:hover{
    background: #F7F7F9;
    font-weight: 600;
}
.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
    text-transform: capitalize;
}

.character-img {
    /* width: 100px; */
    height: 72px;
}

/* Radio */
.participation-radio {
    width: 743px;
    height: 30px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #212529;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

/* Customize the label (the container) */
.radio-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 16px;
  }
  
  /* Hide the browser's default radio button */
  .radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    box-sizing: border-box;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  
  .radio-container input:checked ~ .checkmark {
    
    border: 5px solid #0D6EFD;
    
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radio-container input:checked ~ .checkmark:after {
    display: block;
  }

  .participation-radio-row {
      display: flex;
  }

  .radio-container:not(:first-child) {
    margin-left: 18px;
}

.background-onboarding-completed {
    position: absolute;
    width: 923px;
    height: 996px;
    left: 0px;
    top: 84px;

    background: url(../assets/images/onboarding-completed-page-photo.png);
}

.rocket {
    position: absolute;
    left: 1201px;
    top: 416px;
}

/* Remove increment arrows for number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}