/* Left Page */
.top-header {
    position: absolute;
    width: 923px;
    height: 84px;
    left: 0px;
    top: 0px;

    background: #7025FB;
}

.knight-cup-logo {
    position: absolute;
    left: 6.5%;
    right: 63.62%;
    top: 35.71%;
    bottom: 36.49%;
}

.knight-cup-icon {
    position: absolute;
    left: 0%;
    right: 94.68%;
    top: 1.75%;
    bottom: 19.74%;
}

.knight-cup-text {
    position: absolute;
    width: 252.82px;
    height: 23.35px;
    left: 22.93px;
    top: 0px;
}

/* Backgrounds */
.background {
    position: absolute;
    width: 923px;
    height: 996px;
    left: 0px;
    top: 84px;
}

.background-red {
    position: absolute;
    width: 997px;
    height: 1080px;
    left: 923px;
    top: 0px;

    background: #FD5334;
}

.background-landing {
    background: url(../assets/images/landing-page-photo.png);
}
.background-registration-personal {
    background: url(../assets/images/registration-personal-page-photo.png);
}



/* Headers */
.landing-header-1 {
    position: absolute;
    width: 496px;
    height: 109px;
    left: 1008px;
    top: 265px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 109px;
    text-transform: uppercase;

    color: #FFFFFF;
}


.landing-header-2 {
    position: absolute;
    width: 570px;
    height: 109px;
    left: 1008px;
    top: 390px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 109px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.landing-header-small {
    position: absolute;
    width: 136px;
    height: 27px;
    left: 1530px;
    top: 306px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    color: #212529;
}


.registration-header {
    position: absolute;
    height: 24px;
    left: 971px;
    top: 30px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;

    text-transform: capitalize;
    color: #212529;
}

.registration-personal-page-text {
    position: absolute;
    width: 423px;
    height: 83px;
    left: 132px;
    top: 335px;
    
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 800;
    font-size: 26px;
    line-height: 35px;
    text-transform: uppercase;
    
    color: #212529;
}

.registration-personal-page-text-author {
    position: absolute;
    width: 222px;
    height: 33px;
    left: 132px;
    top: 442px;
    
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    color: #E5E6E8;
}
.line {
    position: absolute;
    width: 998px;
    height: 0;
    left: 923px;
    top: 84px;
    margin: -1px;
    border-top: 1px solid rgba(185, 180, 196, 0.3);
}


/* Buttons */
.btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 24px;
    gap: 10px;
    border: none;
    /* background: none; */
    background: #212529;
    border-radius: 8px;
}


.btn-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 12px;
    flex: none;
    order: 0;

}

.btn-text {
    height: 27px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-transform: capitalize;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.btn-arrow {
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.get-started-btn {
    position: absolute;
    left: 1008px;
    top: 601px;
    width: 143px;

    background: #212529;
    color: #FFFFFF;
    border-radius: 8px;
}

.get-started-btn:hover, .next-btn:hover {
    border: 4px solid rgba(194, 165, 249, 0.8);
    margin-left: -4px;
    margin-top: -4px;
    border-radius: 8px;
    cursor: pointer;
}
.next-btn {
    position: absolute;
    left: 1618px;
    top: 873px;

    background: #212529;
    border-radius: 8px;
    color: #FFFFFF;
}

.get-started-btn:hover, .next-btn:hover {
    border: 4px solid rgba(194, 165, 249, 0.8);
    margin-left: -4px;
    margin-top: -4px;
    border-radius: 8px;
    cursor: pointer;
}

.back-btn {
    box-sizing: border-box;

    position: absolute;
    left: 971px;
    top: 873px;

    border: 1px solid #212529;
    border-radius: 8px;
    background-color: white;
    color: #212529;
}

.back-btn:hover {
    background: rgba(185, 180, 196, 0.3);
    border: 1px solid rgba(194, 165, 249, 0.8);
}


/* Steps */
.steps {
    position: absolute;
    width: 366px;
    height: 65px;
    left: 971px;
    top: 144px;    
}

.step-numbers {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 4px;

    position: absolute;
    width: 262px;
    height: 40px;
    left: 59px;
    top: 0px;

}

.step {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E5E6E8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: none;
    flex-grow: 0;
}

.step-active {
    background: #E9FAF1;
}

.step-disabled {
    background: #F5F5F5;
}

.step-1 {
    order: 0;
}

.step-2 {
    order: 2;
}

.step-content {
    /* position: absolute; */
    /* width: 100%; */
    height: 25px;
    left: 14px;
    top: 8px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    margin: 0 auto;
    color: #212529;
}

.step-content-disabled {
    color: #95939A;
}

.step-line {
    width: 174px;
    height: 0px;
    border: 1px solid rgba(185, 180, 196, 0.3);
    flex: none;
    order: 1;
    flex-grow: 0;
}

.step-text {
    position: absolute;
    left: 0px;
    top: 44px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.step-1-text {
    left: 0px;
    top: 44px;
}

.step-2-text {
    left: 235px;
    top: 44px;
}